@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* GLOBAL START */
body {
  background-color: rgb(var(--grey-color));
}
body:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='.65' numOctaves='3' stitchTiles='stitch' type='fractalNoise'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-size: 100px 100px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.07;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
main,
footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--content-font);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  overflow: hidden;
}

/* SKELETON ANIMATION START */
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: rgba(var(--dark-grey-color), 1);
  }
  100% {
    background-color: rgba(var(--dark-grey-color), 0.2);
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: rgba(var(--dark-grey-color), 1);
  }
  100% {
    background-color: rgba(var(--dark-grey-color), 0.5);
  }
}
/* SKELETON LOADING ANIMATION END */

/* GRADIENT START */
.gradient {
  --bg-size: 400%;
  --color-one: rgba(var(--secondary-color), 1);
  --color-two: rgba(var(--primary-color), 1);
  --color-three: rgba(255, 255, 255, 1);
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(var(--color-one)),
      color-stop(var(--color-two)),
      color-stop(var(--color-three)),
      to(var(--color-one))
    )
    0 0 / var(--bg-size) 100%;

  background: -o-linear-gradient(
      left,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .gradient {
    -webkit-animation: move-bg 15s linear infinite;
    animation: move-bg 15s linear infinite;
  }
  @-webkit-keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
/* GRADIENT END */

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* REVEAL START */
.reveal {
  opacity: 0;
  position: relative;
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.reveal.active {
  opacity: 1;
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
@media (prefers-reduced-motion: reduce) {
  .reveal {
    transition: none;
    transform: none;
    opacity: 1;
  }
}
/* REVEAL END */

/* HR / SEPARATORS START */
hr {
  border: var(--border-1);
  z-index: 3;

  hr.quater {
    margin: var(--grid-gap-3) 0 !important;
  }
}
hr:not(hr.semi) {
  margin: 40px 0;
}
.semi {
  margin: var(--grid-gap-2) 0;
  opacity: 0 !important;
}
#homepage hr.bodyxfooter {
  display: none;
}
.separator::after {
  content: "⋅";
  margin: 0 4px;
  font-size: inherit;
}
/* HR / SEPARATORS END */

/* BROWSER SETTINGS START */
::-webkit-scrollbar {
  width: var(--grid-gap-1);
}
::-webkit-scrollbar-track {
  background: rgba(var(--primary-color), 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-color), 0.4);
  border-radius: 0;
}
::-moz-selection {
  background: rgba(var(--primary-color), 0.4);
}
::selection {
  background: rgba(var(--primary-color), 0.4);
}
/* BROWSER SETTINGS END */

/* TEXT START */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: var(--logo-font);
  position: relative;
  line-height: normal;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
}
h3 {
  font-size: var(--font-size-3);
}
h4 {
  font-size: var(--font-size-4);
}
h5 {
  font-size: var(--font-size-5);
}
h6 {
  font-size: var(--font-size-6);
}
p {
  font-size: var(--font-size-6);
}
footer,
span.date {
  font-size: var(--font-size-7);
}
h1:before,
h2:before {
  cursor: text;
}
main li,
main ol,
main ul,
p {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font-size-6);
  line-height: 1.5;
  font-family: "SF Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  letter-spacing: var(--letter-spacing-1);
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
main li {
  padding-top: 5px;
}
.highlited {
  color: rgba(var(--primary-color), 1);
}
.docs {
  padding-bottom: var(--grid-gap-1);
  border-bottom: var(--border-1);
  margin-bottom: var(--grid-gap-2);
}
ul,
ol {
  margin-left: var(--grid-gap-3);
}
.visually-hidden {
  z-index: -9999999;
  font-size: 0.1px !important;
}
blockquote p {
  font-style: italic !important;
  border-left: 5px solid rgba(var(--primary-color), 0.4);
  padding-left: var(--grid-gap-1);
}
/* LINK START */
a,
a:hover {
  cursor: pointer !important;
  text-decoration: none;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
i a,
main li a,
p a,
span a,
.current,
.author span {
  -webkit-box-shadow:
    inset 0 -2px 0 rgba(var(--primary-color), 0.8),
    0 0 0 rgba(var(--primary-color), 0.5);
  box-shadow:
    inset 0 -2px 0 rgba(var(--primary-color), 0.8),
    0 0 0 rgba(var(--primary-color), 0.8);
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  -webkit-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
i a:hover,
span a:hover,
main li a:hover,
p a:hover,
.current:hover,
.author span:hover {
  -webkit-box-shadow:
    inset 0 -30px 0 rgb(var(--secondary-color)),
    0 2px 0 rgba(var(--primary-color), 0.8);
  box-shadow:
    inset 0 -30px 0 rgba(var(--secondary-color), 0.8),
    0 2px 0 rgba(var(--primary-color), 0.8);
  text-decoration: none;
  -webkit-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
}
/* LINK END */

/* TABLE START */
table {
  width: 100%;
  border-collapse: collapse;
  margin: var(--grid-gap-2) 0;
  border-spacing: 0;
  border-collapse: separate;
  font-size: var(--font-size-7);
  border-radius: var(--border-radius-1);
  text-align: left;
  color: white;
}

th,
td {
  border: var(--border-1);
  padding: var(--grid-gap-1) var(--grid-gap-2);
}
th {
  font-weight: bold;
  background-color: rgb(var(--dark-grey-color));
}
tr:nth-child(even) {
  background-color: rgb(var(--dark-grey-color));
}
table th:first-child {
  border-top-left-radius: var(--border-radius-1);
}
table th:last-child {
  border-top-right-radius: var(--border-radius-1);
}
table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius-1);
}
table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius-1);
}
/* TABLE END */

/* FORM START */
form {
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-family: var(--content-font);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: var(--font-size-6);
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    font-family: var(--content-font);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: var(--font-size-6);
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-family: var(--content-font);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: var(--font-size-6);
  }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    font-family: var(--content-font);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: var(--font-size-6);
  }
  label,
  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-family: var(--content-font);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: var(--font-size-6);
  }
  input,
  textarea {
    padding: var(--grid-gap-2);
    border-radius: var(--border-radius-1);
    background: rgba(var(--dark-grey-color), 1);
    border: var(--border-1);
    line-height: normal;
    width: 100%;
    -webkit-transition: var(--transition-1);
    -o-transition: var(--transition-1);
    transition: var(--transition-1);
  }

  input:focus,
  textarea:focus {
    outline: none;
    -webkit-box-shadow: var(--box-shadow-2);
    box-shadow: var(--box-shadow-2);
    -webkit-transition: var(--transition-1);
    -o-transition: var(--transition-1);
    transition: var(--transition-1);
  }
}

/* FORM END */

/* TEXT END */

/* WRAPPER START */
.wrapper-narrow,
.wrapper-standard,
.wrapper-wide,
hr {
  max-width: 100%;
}
.wrapper-standard,
.wrapper-standard hr {
  width: 600px !important;
}
.wrapper-wide,
.wrapper-wide hr {
  width: 947px;
}
.wrapper-narrow {
  width: 336px;
}
/* WRAPPER END */

/* IMG, IFRAME, SVG START */
iframe,
img,
svg {
  vertical-align: middle;
}
iframe,
img {
  border-radius: 0;
  border: none;
  height: 100%;
  width: 100%;
}
lite-vimeo {
  border-radius: var(--border-radius-1);
  aspect-ratio: 16/9;
  width: 100%;
}
small a {
  color: white !important;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;

  img {
    height: unset;
    width: unset;
    -webkit-box-shadow: var(--box-shadow-1);
    box-shadow: var(--box-shadow-1);
  }
}
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.column {
  -ms-flex: 50%;
  -webkit-box-flex: 50%;
  flex: 50%;
  max-width: 50%;
  margin-top: calc(-1 * (var(--grid-gap-1)));
}
.column img {
  margin-top: var(--grid-gap-1);
  vertical-align: middle;
  width: 100%;
  background-color: rgb(var(--dark-grey-color));
  border-radius: var(--border-radius-1);
}
.column:nth-child(2) {
  padding-left: var(--grid-gap-1);
  padding-right: calc(var(--grid-gap-1) / 2);
}
.column:nth-child(3) {
  padding-right: var(--grid-gap-1);
  padding-left: calc(var(--grid-gap-1) / 2);
}

@media only screen and (min-width: 600px) {
  .column {
    -ms-flex: 25%;
    -webkit-box-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }
}
/* IMG, IFRAME, SVG END */

/* SWIPER START */
.swiper .swiper-pagination-bullet {
  background: white;
}
.swiper .swiper-pagination-bullet-active {
  background-color: rgb(var(--primary-color));
}
.swiper-pagination-bullet {
  opacity: unset !important;
}
/* SWIPER END */

/* VIDEO CONTROLS START */
.controls {
  left: var(--grid-gap-2);
  gap: var(--grid-gap-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}
.controls .volume {
  border-radius: var(--border-radius-2);
  cursor: pointer;
}
/* VIDEO CONTROLS END */

/* POP UP GALERRIES START*/
.fancybox__backdrop,
.lg-backdrop {
  -webkit-backdrop-filter: var(--blur-1);
  backdrop-filter: var(--blur-1);
  background-color: var(--dark-grey-color-full) !important;
}
.fancybox__container,
.lg-backdrop,
.lg-outer.lg-zoom-from-image {
  z-index: 2147483009 !important;
}
.lg-counter,
.pswp__counter {
  font-family: var(--content-font) !important;
  font-size: var(--font-size-7) !important;
  font-weight: normal;
  line-height: 1 !important;
  color: white !important;
}
.pswp__counter {
  margin-top: 15px !important;
}
.lg-counter,
.lg-close {
  padding-top: 15px !important;
  color: white !important;
}
.pswp__button--arrow--left {
  margin-left: var(--grid-gap-3);
}
.pswp__button--arrow--left,
.pswp__button--arrow--right,
.lg-next,
.lg-prev {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: white !important;
  padding: var(--grid-gap-1) !important;
  height: 42px !important;
  width: 42px !important;
  border-radius: var(--border-radius-2) !important;
}
.pswp__button--arrow--left:hover,
.pswp__button--arrow--right:hover,
.lg-next:hover,
.lg-prev:hover {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.pswp__button--arrow--right,
.pswp__button--arrow--right:hover,
.pswp__button--arrow--left,
.pswp__button--arrow--left:hover,
.lg-next,
.lg-prev,
.lg-next:hover,
.lg-prev:hover {
  -webkit-transition: var(--transition-1) !important;
  -o-transition: var(--transition-1) !important;
  transition: var(--transition-1) !important;
}
.pswp {
  -webkit-backdrop-filter: var(--blur-1);
  backdrop-filter: var(--blur-1);
  z-index: 9999999999 !important;
  font-family: var(--content-font);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.pswp__bg {
  background-color: var(--dark-grey-color-full) !important;
}
.pswp__icn-shadow {
  display: none;
}
.pswp__custom-caption,
.gallery-desc {
  font-size: var(--font-size-7);
  line-height: 1;
  color: #fff;
}
.pswp__custom-caption {
  position: absolute;
  left: 50%;
  bottom: var(--grid-gap-2);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.pswp__dynamic-caption--mobile {
  background: transparent !important;
}
.hidden-caption-content {
  display: none;
}
.gallery-desc .pi {
  font-size: var(--font-size-7);
}
.gallery-desc {
  line-height: 1.4;
}
/* POP UP GALERRIES END*/

/* ICONS START */
.iconify,
i,
span.pi {
  color: white;
  vertical-align: middle;
}
.iconify:hover,
i:hover,
.mfp-close:hover {
  color: rgb(var(--primary-color));
}
.iconify,
.iconify:hover,
i,
i:hover .mfp-close,
.mfp-close:hover {
  -o-transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  cursor: pointer;
  -webkit-transition: var(--transition-1);
}
.bubble.pi:hover,
i.pi-arrow-right:hover {
  color: white !important;
}
.pi-arrow-right {
  margin-left: 5px;
  font-size: inherit;
  color: inherit;
}
.bubble {
  background-color: rgba(var(--primary-color), 0.4);
  -webkit-backdrop-filter: var(--blur-1);
  backdrop-filter: var(--blur-1);
  color: white;
  padding: var(--grid-gap-1);
  border-radius: var(--border-radius-2);
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: var(--grid-gap-1);
}
.flag {
  height: var(--grid-gap-1);
  vertical-align: middle;
}
.note {
  position: absolute;
  text-decoration: none;
  z-index: 8;
  padding: 0;
  bottom: var(--grid-gap-1);
  right: var(--grid-gap-1);
}
/* ICONS END */

/* PAYHIP START */
.section-wrapper[data-section-key="footer"] .section-background {
  border-top: none !important;
}
/* PAYHIP END */

/* MAP START */
.location-name,
.location-event {
  color: rgb(var(--grey-color));
  font-weight: bold;
  font-family: var(--content-font);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.location-name {
  font-size: var(--font-size-5);
}
/* MAP START */

/* HERO IMAGE START */
.cover,
.cover .filter {
  height: var(--dimension-1);
  width: 100vw;
}
.cover .filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.cover {
  height: var(--dimension-1);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cover img {
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.cover .title {
  position: absolute;
  z-index: 2;
}
/* HERO IMAGE END */

/* ARTICLE START */
.avatar {
  border-radius: var(--border-radius-2);
}
.dropcap::first-letter {
  float: left;
  font-size: 4.7rem;
  line-height: 0.65;
  margin: 10px 10px 10px 0;
}
.rendered-content h2,
.rendered-content h3,
.rendered-content h4,
.rendered-content h5,
.rendered-content h6 {
  font-size: var(--font-size-4);
}
.content h1,
.rendered-content h2,
.rendered-content h3,
.rendered-content h4,
.rendered-content h5,
.rendered-content h6 {
  padding-bottom: var(--grid-gap-1);
  border-bottom: var(--border-1);
}
.rendered-content h2,
.rendered-content h4,
.rendered-content h5,
.rendered-content h6 {
  margin: var(--grid-gap-3) 0 var(--grid-gap-1) 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  cursor: text;
}
.rendered-content img,
.rendered-content iframe,
#map {
  border-radius: var(--border-radius-1);
  margin: var(--grid-gap-2) 0;
}
.rendered-content iframe {
  height: 100%;
  aspect-ratio: 16/9;
}
iframe.spotify {
  height: 152px !important;
  border-radius: var(--border-radius-2);
}
#map {
  height: var(--dimension-1);
}
.desc {
  font-size: var(--font-size-7);
  text-align: center;
}
/* ARTICLE END */

/* CARD START */
.card {
  border-radius: var(--border-radius-1);
  cursor: pointer;
  color: white;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}
#cards:hover > .card::after {
  opacity: 1;
}
.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  width: 100%;
}

.card::after {
  background: -o-radial-gradient(
    var(--mouse-x) var(--mouse-y),
    400px circle,
    rgba(var(--primary-color), 0.9) 0%,
    transparent 70%
  );
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(var(--primary-color), 0.9) 0%,
    transparent 70%
  );
  z-index: 1;
}

.card > .card-content {
  background: rgba(var(--dark-grey-color), 0.8);
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  inset: 1px;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
  padding: var(--grid-gap-2);
  position: absolute;
  z-index: 2;
}

/* CARD END */

/* MEDIA QERRIES START */
@media only screen and (min-width: 310px) {
  .grid-container {
    display: grid;
    gap: var(--grid-gap-2);
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 330px) {
  .gallery .grid-container .grid-item:nth-child(odd) {
    margin: 0;
  }
}
@media only screen and (max-width: 415px) {
  .caption-container {
    display: block;
  }
  .caption-container p {
    margin-top: var(--grid-gap-1) 0;
  }
  .cover,
  .filter {
    height: 400px;
  }
}
@media only screen and (max-width: 667px) {
  .mfp-iframe-holder .mfp-content {
    max-width: 100%;
  }
  #map {
    aspect-ratio: 16/9;
    height: 100%;
  }
}
@media screen and (max-width: 800px) and (orientation: landscape),
  screen and (max-height: 300px) {
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: var(--dark-grey-color-full);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media only screen and (min-width: 850px) {
  .mfp-arrow:focus,
  .mfp-arrow:hover {
    opacity: 1;
    background-color: rgba(var(--primary-color), 0.4);
  }
}
@media only screen and (max-width: 1020px) {
  :root {
    --nav-bar-top-position: 50px;
    --homepage-padding: var(--grid-gap-2);
    --menu-padding: 0 var(--homepage-padding);
  }
  .wrapper-narrow,
  .wrapper-standard,
  .wrapper-wide {
    padding-left: var(--homepage-padding);
    padding-right: var(--homepage-padding);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* MEDIA QERRIES END */
