@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(/assets/SFProDisplay-Light.ttf) format("truetype");
}
@font-face {
  font-family: Raleway Semibold;
  src: url(/assets/Raleway-SemiBold.ttf) format("truetype");
}
/* PAYHIP START */
.section-wrapper[data-section-key="footer"] .section-background {
  border-top: none !important;
}
/* PAYHIP END */

hr {
  border: 0.1px solid;
  color: rgba(var(--white-color), 1);
  z-index: 3;
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
}
hr:not(hr.semi) {
  margin: 60px 0;
}
.semi {
  margin: var(--grid-gap-3) 0;
  opacity: 0 !important;
}

/* WRAPPER START */
.wrapper-narrow,
.wrapper-standard,
.wrapper-wide,
hr {
  max-width: 100%;
  padding: 0 var(--homepage-padding) 0 var(--homepage-padding);
}
.wrapper-standard,
.wrapper-standard hr {
  width: 800px;
}
.wrapper-wide,
.wrapper-wide hr {
  width: 1200px;
}
.wrapper-narrow {
  width: 336px;
}
/* WRAPPER END */

.pi:hover:not(header .pi:hover, button .pi:hover) {
  color: var(--p-button-primary-background);
}
.pi,
.pi:hover {
  transition: background var(--p-button-transition-duration),
    color var(--p-button-transition-duration),
    border-color var(--p-button-transition-duration),
    outline-color var(--p-button-transition-duration),
    box-shadow var(--p-button-transition-duration);
}
