@import "./base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SF Pro Display";
  src: url(/assets/SFProDisplay-Light.ttf) format("truetype");
}
@font-face {
  font-family: Raleway Semibold;
  src: url(/assets/Raleway-SemiBold.ttf) format("truetype");
}
/* PAYHIP START */
.section-wrapper[data-section-key="footer"] .section-background {
  border-top: none !important;
}
/* PAYHIP END */

/* WRAPPER START */

.wrapper-standard,
.wrapper-standard hr {
  width: 600px !important;
}
.wrapper-wide,
.wrapper-wide hr {
  width: 880px;
}
.wrapper-narrow {
  width: 336px;
}
/* WRAPPER END */

.pi:hover:not(header .pi:hover) {
  color: var(--p-button-primary-background);
}
.pi,
.pi:hover {
  transition: background var(--p-button-transition-duration),
    color var(--p-button-transition-duration),
    border-color var(--p-button-transition-duration),
    outline-color var(--p-button-transition-duration),
    box-shadow var(--p-button-transition-duration);
}
